* {
//	border: 1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 95%;
	width: 100%;
	margin: 0;
	padding: 0;
}

div { 
	color: #404040;
}

#map {
	position: relative;
	height: 100%;
	width: 100%;
}

.overall {
	height: 100%;
}

.search {
	height: 40px;
}

.sInput {
	width: calc(100vw - 100px);
	font-size: 18px;
}

.sButton {
	font-family: Arial, Helvetica, sans-serif;
	width: 100px;
	font-size: 22px;
	text-align: center;
	padding: 5px;
	background-color: #E8E8E8;
	border: 2px solid #D8D8D8;
}

.item {
	position: relative;
	left: 0;
}

.to-the-left {
	left: -100%;
}

.slide {
	-webkit-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;
    transition: left 0.5s ease-out;
}

.nav-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#nav-trigger {
	display: inline-flex;
	position: absolute;
	right: 0;
	top: 10px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	outline: none;
}

.place {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 15px;
	padding-left: 30px;
	border: 2px solid #D8D8D8;
	background-color: white;
}

.place::selection {
	background: none;
}

.place::-moz-selection {
	background: none;
}

.place:first-of-type {
	background-color: #E8E8E8;
}

.place:not(:first-child) {
	border-top: 0;
}

.placeMobile {
	position: absolute;
	z-index: 1;
	max-width: 350px;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

@media only screen and (max-width: 950px) {
	.place {
		font-size: 15px;
	}
}

@media only screen and (max-width: 750px) {
	.place {
		font-size: 14px;
	}

	.placeMobile {
		width: 187.5px;
	}
}